@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Heebo', sans-serif;
    font-weight: 600;
  
}
h1{
    font-size: 4rem;
}
p{
    font-size: 1.3rem;
}
.cabecalho{
    width: 100%;
}



.container-cont{
    background-color: #0D1249;
    color: white;
    width: 100%;
    height:auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.container-apresentacao{
    align-self: flex-start;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 150px;
    
}
.container-apresentacao h1{
    margin: auto;
    width: 60%;

}
.container-apresentacao p{
    margin-top: 30px;

}
.botao-container{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.btn-btn{
    width: 250px;
    height: 70px;
    margin:30px;
    border-radius: 30px;
    border: none;
    font-size: 1.4rem;
    font-weight: bold;
    cursor: pointer;
    background-color: transparent;
    color: white;
}
.btn-btn:hover{
    background-color: white;
    color: black;
}
.btn-especial{
    background-color: #666db1;
}
.btn-especial:hover{
    opacity: 80%;
    background-color: #666db1;
    color: white;
}
.container-img{
    margin-top: 50px;
    width: auto;
    height: auto;
}
.container-img img{
    width: 40%;
}
.container-conteudo{
    background-color: rgb(255, 255, 255);
    width: 100%;
    height:auto;
    display: flex;
    
}
.conteudo{
    width: 100%;
    height: 100%;
    margin: 20px;
    color: black;
    display: flex;
    justify-content: space-around;
}
.card{
    background-color:#EDF2F7;
    width:45%;
    height: 800px;
    margin: 20px;
    padding: 30px;
}

.card-img{
    align-self: center;
}
.container-subconteudo{
    background-color:#EDF2F7;
    width: 100%;
    height: auto;
    display: flex;
    justify-content:center;
    text-align: center;
    padding: 30px;
}
.container-subconteudo h1{
    color: black;
}
.container-subconteudo p{
    font-weight: 200;
    color: black;
}
.container-subconteudo img{
    margin-top: 50px;
}
.container-teste-gratis{
    width: 100%;
    background-image: url(../img/6271875.jpg);
    background-position: center;
    background-repeat: none;
    background-size: cover;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content:center;
    text-align: center;
    padding: 30px;
   
}

.container-teste-gratis button{
    width: 400px;
    height: 100px;
    font-size: 1.8rem;
    border-radius: 10px;
    border: 5px solid white;
    background-color: transparent;
    cursor: pointer;
    margin-top: 30px;
    color: white;
}
.container-conteudoCard{
    background-color:#0D1249;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(255, 255, 255);

}
.conteudoCard{
    width: 80%;
}

.contCard{
    margin-top: 50px;
    width: 40%;
    margin-bottom: 20px;
    
 }
.cardCont-container{
    display:flex;
    width: 80%;
    justify-content: space-between;
    margin-bottom: 50px;
}
.cardCont{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color: white;
    width: 50%;
    height: 400px;
    margin-right: 20px;
    text-align: left;
    padding: 20px; 
    border-radius: 20px;   

}
.cardCont:hover{
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.233);
    color: black;
}
.cardCont h1{
    font-size: 3rem;
}
.cardCont p{
    font-size: 1rem;

}
.img-card{
    width:30%;
    margin: 20px;
}
.container-ferramentas{
    color: rgb(255, 255, 255);
    width: 80%;
    display: flex;
    justify-content: space-around;
    padding: 30px;
    align-items: center;
}
.conteudo-ferramentas{
    width: 40%;
}