@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Heebo', sans-serif;
    font-weight: 600;
  
}
.container-cabecalho{
    width: 100vw;
}
.cabecalho{
    color: white;
    background-color: #0D1249;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    padding: 30px;
    position: fixed;
    top: 0;
}
.menu{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
}
.container{
    background-color: #0D1249;
    color: white;
    width: 100vw;
    height: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.container-apresentacao{
    align-self: flex-start;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 600px;
    background-color: aqua;
    
}
.container-apresentacao h1{
    margin: auto;
    width: 60%;
    font-size: 6rem;
}
.container-apresentacao p{
    margin-top: 30px;
    font-size: 2rem;
}
.botao-container{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.btn{
    width: 250px;
    height: 70px;
    margin:30px;
    border-radius: 30px;
    border: none;
    font-size: 1.4rem;
    font-weight: bold;
    cursor: pointer;
    background-color: transparent;
    color: white;
}
.btn:hover{
    background-color: white;
    color: black;
}
.btn-especial{
    background-color: #666db1;
}
.btn-especial:hover{
    opacity: 80%;
    background-color: #666db1;
    color: white;
}
.container-img{
    margin-top: 50px;
    width: auto;
    height: auto;
}
.container-img img{
    width: 40%;
}
.container-conteudo{
    background-color: aquamarine;
}