@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Heebo', sans-serif;
    font-weight: 600;
  
}
.container-cabecalho{
    width: 100vw;
}
.cabecalho{
    color: white;
    background-color: #0D1249;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    padding: 30px;
    position: fixed;
    top: 0;
}
.menu{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
}
.container{
    background-color: #0D1249;
    color: white;
    width: 100%;
    height:auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.container-apresentacao{
    align-self: flex-start;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 120px;
    
}
.container-apresentacao h1{
    margin: auto;
    width: 60%;
    font-size: 6rem;
}
.container-apresentacao p{
    margin-top: 30px;
    font-size: 2rem;
}
.botao-container{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.btn{
    width: 250px;
    height: 70px;
    margin:30px;
    border-radius: 30px;
    border: none;
    font-size: 1.4rem;
    font-weight: bold;
    cursor: pointer;
    background-color: transparent;
    color: white;
}
.btn:hover{
    background-color: white;
    color: black;
}
.btn-especial{
    background-color: #666db1;
}
.btn-especial:hover{
    opacity: 80%;
    background-color: #666db1;
    color: white;
}
.container-img{
    margin-top: 50px;
    width: auto;
    height: auto;
}
.container-img img{
    width: 40%;
}
.container-conteudo{
    background-color: rgb(255, 255, 255);
    width: 100%;
    height:auto;
    display: flex;
    
}
.conteudo{
    width: 100%;
    height: 100%;
    margin: 20px;
    color: black;
    display: flex;
    justify-content: space-around;
}
.card{
    background-color:#EDF2F7;
    width:45%;
    height: 800px;
    margin: 20px;
    padding: 30px;
}
.card h1{
    font-size: 6rem;
}
.card p{
    font-size: 2rem;
}
.card-img{
    align-self: center;
}
.container-subconteudo{
    background-color:#EDF2F7;
    width: 100%;
    height: auto;
    display: flex;
    justify-content:center;
    text-align: center;
    padding: 30px;
}
.container-subconteudo h1{
    font-size: 6rem;
    color: black;
}
.container-subconteudo p{
    font-size: 2rem;
    font-weight: 200;
    color: black;
}
.container-subconteudo img{
    margin-top: 50px;
}
.container-teste-gratis{
    width: 100%;
    background-image: url(../ProjetoPageCSS/6271875.jpg);
    background-position: center;
    background-repeat: none;
    background-size: cover;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content:center;
    text-align: center;
    padding: 30px;
   
}
.container-teste-gratis h1{
    font-size: 6rem;
}
.container-teste-gratis p{
    font-size: 2rem;
}
.container-teste-gratis button{
    width: 400px;
    height: 100px;
    font-size: 1.8rem;
    border-radius: 10px;
    border: 5px solid white;
    background-color: transparent;
    cursor: pointer;
    margin-top: 30px;
    color: white;
}
.container-conteudoCard{
    background-color:#0D1249;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(255, 255, 255);
    padding-bottom: 50px;
}
.conteudoCard{
    width: 80%;
}
.conteudoCard h1{
   font-size: 6rem;
}
.conteudoCard p{
    font-size: 1.2rem;
 }
 .contCard{
   margin-top: 50px;
    width: 40%;
    margin-bottom: 20px;
    border-radius: 15px;
 }
.cardCont-container{
    display:flex;
    width: 80%;
    justify-content: space-between;
}
.cardCont{
    color: white;
    width: 50%;
    height: 400px;
    margin-right: 20px;
    text-align: left;
    padding: 20px;    

}
.cardCont:hover{
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.233);
    color: black;
}
.cardCont h1{
    font-size: 3rem;
}
.cardCont p{
    font-size: 1rem;

}